@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div align="center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="card" style="width: 30%; min-width: 275px;" align="justify">
        <div class="card-body">
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserLoginVm.Email"></label>
                    <input asp-for="UserLoginVm.Email" class="form-control" />
                    <span asp-validation-for="UserLoginVm.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserLoginVm.Password"></label>
                    <input asp-for="UserLoginVm.Password" class="form-control" />
                    <span asp-validation-for="UserLoginVm.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <p class="pt-3">
        <a asp-page="./Signup" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
