@page
@model SignupModel

@{
    ViewData["Title"] = "Sign up";
}

<div align="center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="card" style="width: 30%; min-width: 275px;" align="justify">
        <div class="card-body">
            <div class="card-title">
                All fields are required.
            </div>
            <hr />
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserSignupVm.Forename"></label>
                    <input asp-for="UserSignupVm.Forename" class="form-control" />
                    <span asp-validation-for="UserSignupVm.Forename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserSignupVm.Surname"></label>
                    <input asp-for="UserSignupVm.Surname" class="form-control" />
                    <span asp-validation-for="UserSignupVm.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserSignupVm.Email"></label>
                    <input asp-for="UserSignupVm.Email" class="form-control" />
                    <span asp-validation-for="UserSignupVm.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserSignupVm.Password"></label>
                    <input asp-for="UserSignupVm.Password" class="form-control" />
                    <span asp-validation-for="UserSignupVm.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserSignupVm.ConfirmPassword"></label>
                    <input asp-for="UserSignupVm.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="UserSignupVm.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
